.header-text {
  font-family: "Spartan";
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  float: right;
}

.sub-title {
  font-family: "Spartan";
  font-size: 18.2px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  float: right;
  line-height: 60px;
}

.bottom-title-text {
  font-family: "Spartan";
  font-size: 22.8px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}

.col-md-7.col-md-offset-3.header-container {
  margin-left: 25%;
  display: grid;
  justify-content: right;
}

.bottom-content {
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(20px);
  left: 150px;
  height: 150px;
  width: 90%;
}

.button-container {
  position: fixed;
  right: 0;
  justify-content: flex-end;
  bottom: 0;
  display: flex;
}

.left-button {
  bottom: 0;
  background: #ffffff7d;
  width: 100px;
  height: 150px;
}

.right-button {
  bottom: 0;
  background: #b4cdff;
  width: 100px;
  height: 150px;
}

body {
  background-image: linear-gradient(
    to right top,
    #d5dcea,
    #cad3e3,
    #bfc9dc,
    #b5c0d5,
    #aab7ce
  );
  height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/33461127/75733287-e2667e00-5cc2-11ea-8265-adb15f7b3232.jpg);
  background-size: cover;
}
/* 
.main-row {
  height: 100vh;
} */
/* 
nav.navbar.navbar-expand-lg.navbar-light {
  left: 150px;
} */

.navbar,
li,
ul,
a {
  font-family: "Spartan";
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff !important;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  left: 60px;
}

.header-container {
  margin-top: 100px;
}
