.header-text {
  font-family: "Spartan";
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
}

.sub-title {
  font-family: "Spartan";
  font-size: 18.2px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  line-height: 60px;
}

.bottom-title-text {
  font-family: "Spartan";
  font-size: 22.8px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}

.col-md-7.col-md-offset-3.header-container {
  margin-left: 25%;
  display: grid;
  justify-content: right;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.bottom-content {
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(20px);
  left: 150px;
  height: 170px;
  width: 90%;
}

.button-container {
  position: fixed;
  right: 0;
  justify-content: flex-end;
  bottom: 0;
  display: flex;
}

.left-button {
  bottom: 0;
  background: #ffffff7d;
  width: 80px;
  height: 170px;
  transition: background-color 0.8s ease;
}

.left-button:hover {
  background: #c3c3c37d;
}

.right-button {
  bottom: 0;
  background: #b4cdff;
  width: 80px;
  height: 170px;
  transition: background-color 0.8s ease;
}

.right-button:hover {
  background: #92a7d0;
}

/* body {
} */

.background-overlay {
  /* background-image: linear-gradient(
    to right top,
    #d5dcea,
    #cad3e3,
    #bfc9dc,
    #b5c0d5,
    #aab7ce
  ); */
  height: 100vh;
}

.main-background {
  height: 100vh;
  background-image: url(/images/mika-B4SujlRCD54-unsplash.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

/*
nav.navbar.navbar-expand-lg.navbar-light {
  left: 150px;
} */

.navbar,
li,
ul,
a {
  font-family: "Spartan";
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff !important;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  left: 60px;
}

.header-container {
  margin-top: 100px;
}
